# Project exclude paths
/JWT_01_lianxi/target/
/Maven_ResultMap_04/target/
/Maven_spring_01/target/
/Maven_spring_02/target/
/Maven_spring_03/target/
/Maven_spring_04/target/
/spring_01/target/
/spring_02/target/
/spring_03/target/
/spring_04/target/
/spring_05/target/
/spring_06/target/
/spring_07/target/
/spring_08/target/
/spring_09/target/
/spring_10/target/
/spring_11/target/
/spring_12/target/
/spring_17/target/
/spring_jdbc_13/target/
/spring_JdbcTemple_14/target/
/Spring_MVC_json_01/target/
/spring_zhuTranComple_16_02/target/
/spring_zhuTransComple_16/target/
/springMVC_01/target/
/springMVC_02/target/
/springMVC_03/target/
/springMVC_04/target/
/springMVC_05/target/
/springMVC_06/target/
/springMVC_07/target/
/springMVC_08/target/
/springMVC_11/target/
/springMVC_12/target/
/springMVC_13/target/
/springMVC_14/target/
/springMVC_15_Ajax/target/
/springMVC_16_UploadAndDownload/target/
/springMVC_17_Abnormal/target/
/springMVC_18_Ajax/target/
/springMVC_19_Interceptor/target/
/springMVC_20_domain/target/
/SSMIntegration_02/target/
/SSMIntegration_03_House/target/
/SSMIntegration_04_Parent/SSMIntegration_04_Bean/target/
/SSMIntegration_04_Parent/SSMIntegration_04_Controller/target/
/SSMIntegration_04_Parent/SSMIntegration_04_Dao/target/
/SSMIntegration_04_Parent/SSMIntegration_04_Service/target/
/SSMIntegration_House/SSMIntegration_House_Bean/target/
/SSMIntegration_House/SSMIntegration_House_Controller/target/
/SSMIntegration_House/SSMIntegration_House_Dao/target/
/SSMIntegration_House/SSMIntegration_House_Service/target/
/SSMIntegration_Subcontract_05/SSMIntegration_05_Bean/target/
/SSMIntegration_Subcontract_05/SSMIntegration_05_Controller/target/
/SSMIntegration_Subcontract_05/SSMIntegration_05_Dao/target/
/SSMIntegration_Subcontract_05/SSMIntegration_05_Service/target/