<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.dao.SheetDao">
<!--    二级缓存-->
    <cache/>
<!--    查询全部的歌单-->
    <select id="findAll" resultType="sheet">
        select * from tb_sheet
    </select>
<!--    通过歌单名查找歌曲,使用联表查询-->
    <select id="findSongsBySheet" resultType="music">
        select music.* from tb_music music inner join tb_sheet sheet on music.sheet_id = sheet.id where sheet_name = #{sheetName}
    </select>
<!--    输入歌名创建歌单-->
    <insert id="insertSheet" parameterType="java.lang.String">
        insert into tb_sheet(sheet_name) value (#{sheetName})
    </insert>
</mapper>