<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.fc.controller"/>
<!--开启注解支持-->
    <mvc:annotation-driven/>
<!--    配置拦截器-->
    <mvc:interceptors>
<!--        配置拦截器-->
<!--        <mvc:interceptor>-->
<!--&lt;!&ndash;            要拦截的路径&ndash;&gt;-->
<!--            <mvc:mapping path="/test/*"/>-->
<!--&lt;!&ndash;            exclude:排除,指定不拦截的路径&ndash;&gt;-->
<!--            <mvc:exclude-mapping path="/*"/>-->
<!--&lt;!&ndash;            配置自定义拦截器&ndash;&gt;-->
<!--            <bean  id="interceptor" class="com.fc.ceptor.MyInterceptor"/>-->
<!--        </mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/test/*"/>
            <mvc:exclude-mapping path="/*"/>
            <bean class="com.fc.ceptor.TestInterCeptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>