<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CompanyDao">
    <resultMap id="CompanyMap" type="com.bean.Company">
        <id column="c_id" property="cid"/>
        <result column="c_name" property="cname"/>
        <collection property="employees" javaType="List" ofType="com.bean.Employee">
            <id column="e_id" property="eid"/>
            <result column="e_name" property="ename"/>
            <result column="e_age" property="eage"/>
            <result column="e_info" property="info"/>
        </collection>
    </resultMap>
    <select id="selectCompanyById" resultMap="CompanyMap">
        select e.*,c.* from company c inner join employee e on com_id = c_id where c_id = #{cid}
    </select>
</mapper>