<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd ">
<!--配置目标（被代理对象）对象-->
    <bean id="service" class="com.service.impl.UserServiceImpl"/>
<!--配置增强对象-->
    <bean id="aspect" class="com.aspect.UserServiceAspect"/>
<!--    开启注解使用AOP-->
    <aop:aspectj-autoproxy expose-proxy="true"/>
</beans>