<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd ">

    <bean id="complexType" class="com.bean.ComplexType">
        <property name="list">
            <list>
                <value>1</value>
                <value>2</value>
                <value>3</value>
                <value>4</value>
                <value>5</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>10</value>
                <value>6</value>
                <value>7</value>
                <value>8</value>
                <value>9</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="一"/>
                <entry key="2" value="二"/>
                <entry key="3" value="三"/>
                <entry key="4" value="四"/>
                <entry key="5" value="五"/>
            </map>
        </property>
        <property name="objects">
            <array>
                <value>针布搓</value>
                <value>好的</value>
                <value>雷霆嘎巴</value>
            </array>
        </property>
    </bean>
</beans>