<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_09:Web2 exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_09_Web2_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC_09/web/Web2" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_09" />
        </element>
      </element>
    </root>
  </artifact>
</component>