<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_04:war exploded">
    <output-path>$PROJECT_DIR$/springMVC_04/target/springMVC_04-1.0-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springMVC_04</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_04" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.5" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.16" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springMVC_04/target/springMVC_04-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVC_04/web/Web" />
    </root>
  </artifact>
</component>